@{
    ViewData["Title"] = "Contatos";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Contato" asp-action="Criar" class="btn btn-secondary">Criar</a>
</div>
